@using AllyisApps.ViewModels.ExpenseTracker.Expense;
@using AllyisApps.Services;

@model ExpenseIndexViewModel
@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/ExpenseTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/ExpenseTracker";
	ViewBag.Title = "My Expense Reports";
}

<div>
	@if (Model.Reports.Count > 0)
	{
		@Html.Partial("_AjaxExpenseEntries", Model);
	}
	else
	{
		<span class="text-warning"
			  style="font-size: 20px; text-align: center; display: block; margin-top: 100px;">
			There are no reports to display.
		</span>
	}
</div>