@using AllyisApps.Services;
@using AllyisApps.ViewModels.ExpenseTracker.Expense;

@model UserSettingsViewModel
@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/ExpenseTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/ExpenseTracker";
	ViewBag.Title = "User Settings";
}

@Html.BeginForm("UpdateUserSettings", ControllerConstants.Expense, FormMethod.Post, new { })
{
	<table>
		<thead>
			<tr>
				<th style="width: 50%">Name</th>
				<th style="width: 50%">Max Amount</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Users.Count(); i++)
			{
				User user = Model.Users.ToArray()[i];
				string userIdName = "Users[" + i + "].UserId";
				string maxAmountName = "Users[" + i + "].MaxAmount";
				string userName = user.FirstName + " " + user.LastName;

				@Html.HiddenFor(m => user.UserId, new { Name = userIdName })
				<tr>
					<td>@userName</td>
					<td>@Html.TextBoxFor(m => user.MaxAmount, new { Name = maxAmountName })</td>
				</tr>
			}
		</tbody>
	</table> 
	<input type="submit" value="Submit" />
}