<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=AllyisApps.Database;Persist Security Info=True;MultipleActiveResultSets=True;User Id=aaUser;password=BlueSky23#;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=AllyisAppsDB;User Id=aaUser;Password=BlueSky23#;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=AllyisAppsDB;User Id=aaUser;Password=BlueSky23#;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="AllyisAppTeam@gmail.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" password="Flicker#1" userName="AllyisAppTeam@gmail.com" enableSsl="true" />
        <!-- When using .Net 4.0 (or later) add attribute: EnableSSL="True" and you're all set-->
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="EnableSSLOnMail" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NoReplyEmail" value="noreply@allyisapps.com" />
    <add key="registrationEmail" value="AllyisAppTeam@gmail.com" />
    <add key="SupportEmail" value="support@allyisapps.com" />
    <add key="hostname" value="apps.local" />
    <add key="webroot" value="apps.local:62707" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    
      
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage/Oops">
      <error redirect="~/ErrorPage/Oops/400" statusCode="400" />
      <error redirect="~/ErrorPage/Oops/401" statusCode="401" />
      <error redirect="~/ErrorPage/Oops/402" statusCode="402" />
      <error redirect="~/ErrorPage/Oops/403" statusCode="403" />
      <error redirect="~/ErrorPage/Oops/404" statusCode="404" />
      <error redirect="~/ErrorPage/Oops/405" statusCode="405" />
      <error redirect="~/ErrorPage/Oops/406" statusCode="406" />
      <error redirect="~/ErrorPage/Oops/407" statusCode="407" />
      <error redirect="~/ErrorPage/Oops/408" statusCode="408" />
      <error redirect="~/ErrorPage/Oops/409" statusCode="409" />
      <error redirect="~/ErrorPage/Oops/410" statusCode="410" />
      <error redirect="~/ErrorPage/Oops/411" statusCode="411" />
      <error redirect="~/ErrorPage/Oops/412" statusCode="412" />
      <error redirect="~/ErrorPage/Oops/413" statusCode="413" />
      <error redirect="~/ErrorPage/Oops/414" statusCode="414" />
      <error redirect="~/ErrorPage/Oops/415" statusCode="415" />
      <error redirect="~/ErrorPage/Oops/416" statusCode="416" />
      <error redirect="~/ErrorPage/Oops/417" statusCode="417" />
      <error redirect="~/ErrorPage/Oops/418" statusCode="418" />
      <error redirect="~/ErrorPage/Oops/421" statusCode="421" />
      <error redirect="~/ErrorPage/Oops/422" statusCode="422" />
      <error redirect="~/ErrorPage/Oops/423" statusCode="423" />
      <error redirect="~/ErrorPage/Oops/424" statusCode="424" />
      <error redirect="~/ErrorPage/Oops/426" statusCode="426" />
      <error redirect="~/ErrorPage/Oops/428" statusCode="428" />
      <error redirect="~/ErrorPage/Oops/429" statusCode="429" />
      <error redirect="~/ErrorPage/Oops/431" statusCode="431" />
      <error redirect="~/ErrorPage/Oops/451" statusCode="451" />
      <error redirect="~/ErrorPage/Oops/500" statusCode="500" />
    </customErrors>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="43200" slidingExpiration="true" name="aaauth" path="/" protection="All" cookieless="UseDeviceProfile" />
    </authentication>
    <machineKey decryptionKey="A04D2FBAEA016683C2E1E1C8BE82BCEA88C6ED227AE069B4276B6BC4CF49DE24" validationKey="ED1B474647D439F343435B71A225FD1DD4B7DFD8DEAFFA3AB9E9E94240F06D55" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime relaxedUrlToFileSystemMapping="true" />
    <trace enabled="true" requestLimit="40" localOnly="false" />
    <!--<customErrors mode="RemoteOnly" />-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <!-- explicitly include forms authentication module, to make sure it is invoked -->
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>