@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
td.checked {
  text-align: center;
}
.pageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pageContainer .page-btn,
.pageContainer .chevron-btn {
  margin: -20px 5px 5px 5px;
  width: 25px;
  padding: 2px;
}
.pageContainer .page-btn.pageButtonFiller,
.pageContainer .chevron-btn.pageButtonFiller {
  visibility: hidden;
}
.pageContainer .chevron-btn {
  width: 22px;
  padding: 1px;
  background-color: #ddd;
  color: #000;
  border-color: #aaa;
}
.all-check {
  outline: 1px solid black;
}
.no-match,
.off-page {
  display: none;
}
.check-no-match {
  color: #888;
}
.whitetext {
  color: #fff;
  border-color: #fff !important;
}