@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.navbar li.link-zone a {
  color: #777 !important;
}
.navbar li.dropdown.link-zone {
  background-color: #ffffff;
  cursor: pointer;
}
.navbar li.dropdown.link-zone > a {
  color: #777;
  background-color: transparent;
}
.navbar li.dropdown.link-zone > a:hover,
.navbar li.dropdown.link-zone > a:focus {
  background-color: transparent;
}
.navbar li.dropdown.link-zone.open {
  background-color: #ffffff;
}
.navbar li.dropdown.link-zone .dropdown-menu {
  background-color: #ffffff;
}
.navbar li.dropdown.link-zone .dropdown-menu a:hover,
.navbar li.dropdown.link-zone .dropdown-menu a:focus {
  background-color: #ffffff;
}