@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.bulk {
  padding: 0px 15px 0px;
}
.modal-divider {
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
}