@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
html {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
.navbar {
  z-index: 1000;
}
.footer {
  z-index: 1000;
  border-top: 1px #e7e7e7 solid;
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .sidebar-offcanvas {
    position: fixed;
    z-index: 2000;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0px;
    bottom: 70px;
    width: 80%;
    height: 100vh;
    padding: 12px;
    text-align: justify;
    background-color: #f8f8f8;
    border-left: 1px #e7e7e7 solid;
    right: calc(-80% + 10px);
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas.active .sidebar-offcanvas {
    right: 0;
  }
}