.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}

.btn-group-lg > .btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}

.btn-group-sm > .btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.btn-group-xs > .btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
	content: " ";
	display: table;
}

.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
	clear: both;
}

#permissions-wrap {
	min-height: 200px;
	margin-top: 20px;
	/*.included {
    background-color: pink;
    label {
      color: red;
    }
  }*/
}

	#permissions-wrap #flex-wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-bottom: 40px;
	}

		#permissions-wrap #flex-wrap > * {
			width: 30%;
			flex-grow: 1;
			margin-bottom: 0;
			margin-left: 20px;
			margin-right: 20px;
		}

		#permissions-wrap #flex-wrap > .next-up {
			width: auto;
			flex-grow: 0;
			align-self: center;
			font-size: 3em;
			text-align: center;
		}

		#permissions-wrap #flex-wrap #source-col {
			flex-grow: 1;
		}

			#permissions-wrap #flex-wrap #source-col #user-list {
				max-height: calc(60vh - 76px);
				overflow-y: auto;
			}

		#permissions-wrap #flex-wrap #actions-col {
			flex-grow: 1;
			min-height: 100px;
		}

			#permissions-wrap #flex-wrap #actions-col > a:not(:first-child) {
				margin-top: 10px;
			}

		#permissions-wrap #flex-wrap #target-col {
			flex-grow: 1;
		}

			#permissions-wrap #flex-wrap #target-col .nav-tabs a {
				border-top-right-radius: 0;
				border-top-left-radius: 0;
			}

			#permissions-wrap #flex-wrap #target-col #actions {
				height: calc(60vh - 37px);
				overflow-y: auto;
			}

			#permissions-wrap #flex-wrap #target-col .list-group {
				margin-bottom: 0;
			}

	#permissions-wrap .list-group.list-group-log > div.list-group-item,
	#permissions-wrap .list-group.list-group-swap > div.list-group-item {
		padding: 0;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		cursor: pointer;
	}

		#permissions-wrap .list-group.list-group-log > div.list-group-item > span,
		#permissions-wrap .list-group.list-group-swap > div.list-group-item > span {
			display: block;
			flex-grow: 1;
			padding: 10px 15px;
			margin: 0;
		}

		#permissions-wrap .list-group.list-group-log > div.list-group-item > i,
		#permissions-wrap .list-group.list-group-swap > div.list-group-item > i {
			cursor: pointer;
			padding: 10px 10px;
			margin: 0;
			display: none;
		}

			#permissions-wrap .list-group.list-group-log > div.list-group-item > i:hover,
			#permissions-wrap .list-group.list-group-swap > div.list-group-item > i:hover {
				background-color: #ddd;
			}

		#permissions-wrap .list-group.list-group-log > div.list-group-item:hover,
		#permissions-wrap .list-group.list-group-swap > div.list-group-item:hover {
			background-color: #ddd;
		}

			#permissions-wrap .list-group.list-group-log > div.list-group-item:hover > i,
			#permissions-wrap .list-group.list-group-swap > div.list-group-item:hover > i {
				display: block;
			}

	#permissions-wrap .list-group-swap {
		border: none;
	}

		#permissions-wrap .list-group-swap > div.list-group-item {
			padding: 0;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			border: none;
		}

			#permissions-wrap .list-group-swap > div.list-group-item > * {
				height: 100%;
			}

			#permissions-wrap .list-group-swap > div.list-group-item > label {
				display: block;
				flex-grow: 1;
				padding: 10px 15px;
				margin: 0;
				font-weight: inherit;
			}

		#permissions-wrap .list-group-swap > div > input[type=checkbox] {
			display: none;
		}

			#permissions-wrap .list-group-swap > div > input[type=checkbox]:checked + label {
				font-weight: bold;
				background-color: #eee;
			}

			#permissions-wrap .list-group-swap > div > input[type=checkbox]:disabled + label {
				font-weight: lighter;
				color: #bbb;
				cursor: not-allowed;
			}

	#permissions-wrap .panel-heading .controls {
		margin-right: -16px;
		margin-left: -16px;
		margin-top: 10px;
		left: 0px;
		right: 0px;
		margin-bottom: -11px;
		display: flex;
		flex-flow: row wrap;
	}

		#permissions-wrap .panel-heading .controls .form-control {
			border-radius: 0;
			flex-grow: 1;
			flex-basis: auto;
		}

		#permissions-wrap .panel-heading .controls select.form-control {
			width: auto;
			height: 39px;
		}

		#permissions-wrap .panel-heading .controls input[type=text] {
			width: auto;
			height: 39px;
			border-radius: 0;
		}

	#permissions-wrap .list-group#actions div.list-group-item {
		font-weight: bold;
		padding-bottom: 0;
	}

		#permissions-wrap .list-group#actions div.list-group-item > * {
			font-weight: normal;
			margin: 0 -15px;
		}

			#permissions-wrap .list-group#actions div.list-group-item > *:first-child {
				margin-top: 10px;
			}

		#permissions-wrap .list-group#actions div.list-group-item label {
			padding-left: 3em;
		}

	#permissions-wrap .list-group#actions > div.list-group-swap > div.list-group-item:hover {
		background-color: #ddd;
	}

	#permissions-wrap #do-it {
		margin-top: 40px;
		flex-grow: 1 !important;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
	}

		#permissions-wrap #do-it #do-it-button {
			text-align: center;
		}

		#permissions-wrap #do-it #do-it-summary {
			margin-top: 40px;
		}

			#permissions-wrap #do-it #do-it-summary ul.list-group > li.list-group-item > span.count:before {
				content: "(";
			}

			#permissions-wrap #do-it #do-it-summary ul.list-group > li.list-group-item > span.count:after {
				content: ")";
			}

			#permissions-wrap #do-it #do-it-summary ul:not(.list-group) {
				list-style: disc inside;
			}

				#permissions-wrap #do-it #do-it-summary ul:not(.list-group) li {
					padding-left: 0.5em;
				}

					#permissions-wrap #do-it #do-it-summary ul:not(.list-group) li .err-msg {
						opacity: 0.5;
						padding-left: 0.5em;
					}

	#permissions-wrap .container {
		margin-top: 20px;
	}

	#permissions-wrap .excluded:not(.checked) {
		display: none !important;
	}

	#permissions-wrap .checked.excluded {
		color: red;
	}

	#permissions-wrap .status-root i.status {
		display: none;
	}

	#permissions-wrap .status-root.set span {
		display: none;
	}

	#permissions-wrap .status-root.submitting i.submitting {
		display: inline;
	}

	#permissions-wrap .status-root.done i.done {
		display: inline;
	}

	#permissions-wrap .status-root.error i.error {
		display: inline;
	}

@media (max-width: 767px) {
	#permissions-wrap > #flex-wrap > * {
		width: 100% !important;
	}

	.next-up .fa {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

		.next-up .fa.fa-pull-left {
			margin-right: .3em;
		}

		.next-up .fa.fa-pull-right {
			margin-left: .3em;
		}

		.next-up .fa.pull-left {
			margin-right: .3em;
		}

		.next-up .fa.pull-right {
			margin-left: .3em;
		}

		.next-up .fa.fa-pull-left {
			margin-right: .3em;
		}

		.next-up .fa.fa-pull-right {
			margin-left: .3em;
		}

		.next-up .fa.pull-left {
			margin-right: .3em;
		}

		.next-up .fa.pull-right {
			margin-left: .3em;
		}

		.next-up .fa:before {
			content: "\f063";
		}

	#permissions-wrap #do-it {
		margin-top: 0px;
	}
}
/*# sourceMappingURL=permissions.css.map */
