@import (reference) "_root.less";

.panel-customer {
	.panel-default;

	.panel-heading {
		padding: 0;
		display: flex;
		flex-flow: row nowrap;

		a:nth-child(1) {
			flex-grow: 1;
			padding: @panel-heading-padding;
			color: @panel-default-text;

			&:hover, &:active, &:focus {
				text-decoration: none;
			}

			.text-muted {
				.text-muted;
			}
		}

		a:nth-child(2) {
			.fa-lg;
			color: @panel-default-text;

			&:hover, &:active, &:focus {
				text-decoration: none;
			}
		}
	}

	> div > div > table {
		margin: 0;
	}

	> div > div > div.project-list {
		border-top: 1px solid @panel-default-border;
		margin: 0;

		> .list-group-item {
			a {
				&:nth-child(1) {
					padding: 10px 15px 10px 2rem;
				}
			}
		}
	}

	.included {
		font-weight: bold;
	}

	.included .panel-title {
		font-weight: bold;
	}

	.fa-cog, .fa-times, .fa-eye{
		color: #777;

		&:hover {
			color: #333;
		}
	}
    .fa-cog, .fa-eye{
        vertical-align:-65%;
    }
    .fa-eye{
        padding-top:8.5px;
        margin-right:5px;
    }
    .fa-cog{
        font-size:1.7em;
    }
    .fa-times{
        margin-top:3px;
    }
}
/*body#tt-customer {
    .customer-list {
        .project-list {
            .list-group-item {
                padding-left: 2em;
            }
        }
    }
}*/

.projectDate {
	display: inline-block;
	width: 42%;

	margin-left: 15px;
	margin-right: 15px;
}

// column control for customer details page
.max-600{
    max-width:600px;
}
.float-center{
    margin-left:auto;
    margin-right:auto;
}
.xs-control-width{
    width:330px;
}
.md-control-width{
    width: 300px;
}
@media (min-width: @screen-md-min){
    .xs-control-width{
        width:300px;
    }
    .md-control-width{
        width: 570px;
    }
}