@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.panel-customer {
  border-color: #ddd;
}
.panel-customer > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-customer > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-customer > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-customer > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-customer .panel-heading {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}
.panel-customer .panel-heading a:nth-child(1) {
  flex-grow: 1;
  padding: 10px 15px;
  color: #333333;
}
.panel-customer .panel-heading a:nth-child(1):hover,
.panel-customer .panel-heading a:nth-child(1):active,
.panel-customer .panel-heading a:nth-child(1):focus {
  text-decoration: none;
}
.panel-customer .panel-heading a:nth-child(1) .text-muted {
  color: #777777;
}
.panel-customer .panel-heading a:nth-child(2) {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
  color: #333333;
}
.panel-customer .panel-heading a:nth-child(2):hover,
.panel-customer .panel-heading a:nth-child(2):active,
.panel-customer .panel-heading a:nth-child(2):focus {
  text-decoration: none;
}
.panel-customer > div > div > table {
  margin: 0;
}
.panel-customer > div > div > div.project-list {
  border-top: 1px solid #ddd;
  margin: 0;
}
.panel-customer > div > div > div.project-list > .list-group-item a:nth-child(1) {
  padding: 10px 15px 10px 2rem;
}
.panel-customer .included {
  font-weight: bold;
}
.panel-customer .included .panel-title {
  font-weight: bold;
}
.panel-customer .fa-cog,
.panel-customer .fa-times,
.panel-customer .fa-eye {
  color: #777;
}
.panel-customer .fa-cog:hover,
.panel-customer .fa-times:hover,
.panel-customer .fa-eye:hover {
  color: #333;
}
.panel-customer .fa-cog,
.panel-customer .fa-eye {
  vertical-align: -65%;
}
.panel-customer .fa-eye {
  padding-top: 8.5px;
  margin-right: 5px;
}
.panel-customer .fa-cog {
  font-size: 1.7em;
}
.panel-customer .fa-times {
  margin-top: 3px;
}
/*body#tt-customer {
    .customer-list {
        .project-list {
            .list-group-item {
                padding-left: 2em;
            }
        }
    }
}*/
.projectDate {
  display: inline-block;
  width: 42%;
  margin-left: 15px;
  margin-right: 15px;
}
.max-600 {
  max-width: 600px;
}
.float-center {
  margin-left: auto;
  margin-right: auto;
}
.xs-control-width {
  width: 330px;
}
.md-control-width {
  width: 300px;
}
@media (min-width: 992px) {
  .xs-control-width {
    width: 300px;
  }
  .md-control-width {
    width: 570px;
  }
}