@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@model DeleteTimeEntryViewModel

@using (Html.BeginForm(ActionConstants.DeleteTimeEntry, ControllerConstants.TimeEntry, FormMethod.Post))
{
	@Html.HiddenFor(m => m.TimeEntryId)
	@Html.HiddenFor(m => m.StartingDate)
	@Html.HiddenFor(m => m.EndingDate)

	<td><input type="submit" value=@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Delete /></td>
}