@using AllyisApps.Core;
@{
	//Prevent the browser from caching any private page
	Response.Cache.SetExpires(DateTime.UtcNow.AddMinutes(-1));
	Response.Cache.SetCacheability(HttpCacheability.NoCache);
	Response.Cache.SetNoStore();
}
<nav class="ovrd-navbar navbar ovrd-navbar-default navbar-default">
	@*<div class="container-fluid">*@
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="ovrd-navbar-header navbar-header">
		<button type="button" class="ovrd-navbar-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
			<span class="sr-only">@Strings.ToggleNavigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<span class="ovrd-navbar-brand navbar-brand">
			<a href='@Url.Action(ActionConstants.Index, ControllerConstants.Account, new { area = "" })'>
				<img src="~/Content/icons/allyislogo.png" style="height: 32px; float: left; margin-top: -8px; margin-right: 8px;" title="" alt="apps">
				@Strings.Apps
			</a>
		</span>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse ovrd-navbar-collapse navbar-collapse" id="header-navbar-collapse">
		<div class="ovrd-navbar-right navbar-right">
			<ul class="ovrd-nav nav ovrd-navbar-nav navbar-nav">
				@if (DisplayHints.BreadcrumbNavPartialLocation != null)
				{
					Html.RenderPartial(DisplayHints.BreadcrumbNavPartialLocation);
				}
				@Html.Action(ActionConstants.LogOnPartial, ControllerConstants.Shared, new { returnUrl = ViewBag.ReturnUrl, area = "" })
			</ul>
		</div>
	</div>
	@*</div>*@
</nav>
