<div class="container">
	<div class="row">
		<div class="col-xs-12">
			@if (ViewBag.Alerts != null)
			{

				foreach (AllyisApps.Core.Alert.BootstrapAlert a in ViewBag.Alerts)
				{
					<div class="alert alert-dismissable fade in @a.Type.Classes text-center ovrd-alert">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						@if (a.IsHtmlString)
						{
							@(new HtmlString(a.Text))
						}
						else
						{
							@a.Text
						}
					</div>
				}
			}
		</div>
	</div>
</div>
