@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Strings.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Strings.LockedOut</h1>
    <h2 class="text-danger">@Strings.LockedOutExplanation</h2>
</hgroup>
