@{
    ViewBag.Title = AllyisApps.Resources.Views.Home.Strings.Contact;
}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>@AllyisApps.Resources.Views.Home.Strings.Support + :</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>@AllyisApps.Resources.Views.Home.Strings.Marketing + :</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>