@{
    ViewBag.Title = AllyisApps.Resources.Views.Home.Strings.Help;
}

<div style="text-align:justify; margin: 0 auto; width:98%">
    <p>
        @AllyisApps.Resources.Views.Home.Strings.HelpText
    </p>
    <p>
        @AllyisApps.Resources.Views.Home.Strings.HelpText
    </p>
    <p>
        @AllyisApps.Resources.Views.Home.Strings.HelpText
    </p>
    <p>
        @AllyisApps.Resources.Views.Home.Strings.HelpText
    </p>
</div>