@{
    ViewBag.Title = "Help";
}

<div style="text-align:justify; margin: 0 auto; width:98%">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at enim vel enim vestibulum tristique. Suspendisse molestie sem vitae ipsum interdum, eget posuere massa dignissim. Sed et nulla est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean odio mi, porttitor eu pellentesque ut, volutpat quis libero. Pellentesque interdum imperdiet orci in maximus. Vestibulum quis varius libero. Phasellus egestas consectetur neque quis tempor. Nam in mi ac massa gravida lobortis quis ullamcorper metus.
	</p>
	<p>
		Sed tortor nibh, dignissim eu hendrerit vel, ullamcorper et ipsum. Etiam sodales nibh id nulla gravida, varius egestas magna interdum. Nulla in dolor sit amet ante fringilla viverra ac in felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam mauris ligula, malesuada non dui vel, dignissim feugiat augue. Maecenas at pharetra turpis. Aliquam eleifend, odio vitae volutpat scelerisque, nisi sem cursus mauris, quis dignissim erat sem eget est. Morbi aliquam congue ex hendrerit volutpat. Etiam mattis, magna in laoreet suscipit, purus dui faucibus mauris, id pharetra lectus tellus eget sem. Donec aliquet libero sapien, at blandit velit posuere sed. Morbi ullamcorper ut nibh non mollis. Donec sit amet placerat sem.
	</p>
	<p>
		Sed tortor nibh, dignissim eu hendrerit vel, ullamcorper et ipsum. Etiam sodales nibh id nulla gravida, varius egestas magna interdum. Nulla in dolor sit amet ante fringilla viverra ac in felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam mauris ligula, malesuada non dui vel, dignissim feugiat augue. Maecenas at pharetra turpis. Aliquam eleifend, odio vitae volutpat scelerisque, nisi sem cursus mauris, quis dignissim erat sem eget est. Morbi aliquam congue ex hendrerit volutpat. Etiam mattis, magna in laoreet suscipit, purus dui faucibus mauris, id pharetra lectus tellus eget sem. Donec aliquet libero sapien, at blandit velit posuere sed. Morbi ullamcorper ut nibh non mollis. Donec sit amet placerat sem.
	</p>
	<p>
		Suspendisse semper velit iaculis sem egestas, vel faucibus justo aliquet. Nulla id purus ut lacus dignissim condimentum a at lacus. Suspendisse vitae sapien at eros congue accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra vel lectus non tincidunt. Proin eget elit in neque venenatis faucibus non sed quam. Ut condimentum, lorem vitae consequat facilisis, neque ante mattis velit, eget iaculis mauris ipsum eu lacus. Proin efficitur odio metus. Ut ipsum augue, rhoncus a suscipit quis, malesuada eu ex. Etiam elit ipsum, luctus et pretium id, porta vel lacus. Donec cursus porttitor consequat. Duis ullamcorper interdum eros quis suscipit.
	</p>
</div>
