@* This page is unused. At present, the RouteProduct controller simply redirects as appropriate. 
    If this page is restored at some point, it needs its own view model and to have no references
    to DBEntities. *@



@*@using AllyisApps.Services.BusinessObjects
@using AllyisApps.Extensions.ViewExtensions;

@model IEnumerable<OrganizationInfo>
@{
    ViewBag.Title = "Select an Organization";
}
<div class="shrink-wrap-center">
	<div>
		<table class="allyis-table">
			@foreach (OrganizationInfo org in Model)
            {
				<tr>
					<td>
						@Html.Label(org.Name)
					</td>
					<td>
						<a href="@Url.SubdomainLink("Index", "TimeEntry", new RouteValueDictionary( new {area = "TimeTracker"}), this.Request.Url.Scheme, org.OrganizationId )">
							<span class="glyphicon glyphicon-arrow-left"></span>
						</a>
					</td>
				</tr>
            }
		</table>
	</div>
</div>*@