*.cache
src/main/aadbmodel/bin/
src/main/aadbmodel/obj/
src/main/aalib/bin/
src/main/aalib/obj/
src/main/AllyisAppsDB/obj/Debug/AllyisAppsDB.sqlproj.FileListAbsolute.txt
src/main/aaservices/bin/Debug/AllyisApps.DBModel.dll
src/main/aaservices/bin/Debug/AllyisApps.DBModel.pdb
src/main/aaservices/bin/Debug/AllyisApps.Lib.dll
src/main/aaservices/bin/Debug/AllyisApps.Lib.pdb
src/main/aaservices/bin/Debug/AllyisApps.Services.dll
src/main/aaservices/bin/Debug/AllyisApps.Services.pdb
src/main/aaservices/obj/Debug/AllyisApps.Services.csproj.FileListAbsolute.txt
src/main/aaservices/obj/Debug/AllyisApps.Services.dll
src/main/aaservices/obj/Debug/AllyisApps.Services.pdb
src/main/aaweb/bin/AllyisApps.DBModel.dll
src/main/aaweb/bin/AllyisApps.DBModel.pdb
src/main/aaweb/bin/AllyisApps.Lib.dll
src/main/aaweb/bin/AllyisApps.Lib.pdb
src/main/aaweb/bin/AllyisApps.Services.dll
src/main/aaweb/bin/AllyisApps.Services.pdb
src/main/aaweb/bin/AllyisApps.dll
src/main/aaweb/bin/AllyisApps.pdb
src/main/aaweb/bin/en-GB/AllyisApps.resources.dll
src/main/aaweb/bin/en-US/AllyisApps.resources.dll
src/main/aaweb/bin/en/AllyisApps.resources.dll
src/main/aaweb/bin/es/AllyisApps.resources.dll
src/main/aaweb/obj/Debug/AllyisApps.csproj.FileListAbsolute.txt
src/main/aaweb/obj/Debug/AllyisApps.dll
src/main/aaweb/obj/Debug/AllyisApps.pdb
src/main/aaweb/obj/Debug/en-GB/AllyisApps.resources.dll
src/main/aaweb/obj/Debug/en-US/AllyisApps.resources.dll
src/main/aaweb/obj/Debug/en/AllyisApps.resources.dll
src/main/aaweb/obj/Debug/es/AllyisApps.resources.dll
src/main/aaservices/bin/
src/main/aaweb/bin/
