@model AllyisApps.ViewModels.TimeTracker.Customer.EditCustomerInfoViewModel

@{
    DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
    DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
    ViewBag.Title = Strings.Create;
    ViewData.Add(ControllerConstants.Controller, ControllerConstants.Customer);
    ViewData.Add(ActionConstants.Action, ActionConstants.Create);
    ViewData["UserId"] = Model.UserId;
    ViewData["SubscriptionId"] = Model.SubscriptionId;
}

<div>
    @{Html.RenderPartial("_CustomerEdit", Model, ViewData);}
</div>

@section Scripts {
    <script type="text/javascript">
        var preserveState = "@(Model != null ? (States.ResourceManager.GetString(Model.Clean(Model.State)) ?? Model.State) : string.Empty)";
        var dropdownempty = "@Strings.DropDownEmpty";
    </script>
    <script type="text/javascript" src="~/Scripts/allyis-updateStateDDL.js"></script>
}
