@model AllyisApps.ViewModels.TimeTracker.Customer.EditCustomerInfoViewModel

@{
    DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
    DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
    ViewBag.Title = Strings.Delete;
}

<h2>@Strings.Delete</h2>

<h3>@Strings.DeleteHeader</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Strings.Delete class="btn btn-default" /> |
            @Html.ActionLink(Strings.BackToList, "Index")
        </div>
    }
</div>