@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
#paneled-index .panel-wrap {
  width: 100%;
}
@media (min-width: 767px) {
  #paneled-index .panel-wrap {
    width: 47.5%;
  }
}
table#org-details tr > td:first-child {
  text-align: right;
  width: 20%;
}
table#org-details tr > td:last-child {
  width: 50%;
}