@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
html {
  position: relative;
  min-height: 100% !important;
}
body {
  margin-bottom: calc(85px);
}
.footer .text-muted {
  margin: 20px 0;
}
.footer {
  /*position: absolute;
	bottom: 1px;
	width: 100%;*/
  /* Set the fixed height of the footer here */
  /*height: @footer-height;*/
  background-color: #f8f8f8;
  border-top: 1px #e7e7e7 solid;
  position: absolute;
  bottom: 0px;
  height: 70px !important;
  /*@media (max-width: @screen-md-min) {
        height: 70px !important;
    }*/
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer .footer-links {
  margin-left: 30px;
}
.footer .footer-links a {
  color: #777777;
  margin-left: 15px;
}
.footer .footer-text a {
  line-height: 36px;
  vertical-align: middle;
}
.footer p {
  line-height: 36px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .footer {
    width: 100%;
  }
}
#title-row {
  margin-bottom: 15px;
}
#title-row > h1:first-of-type {
  margin-top: 0px;
}