@*@{
        ViewBag.Alerts.Add(new BootstrapAlert("test", BootstrapAlert.Variety.Success));
        ViewBag.Alerts.Add(new BootstrapAlert("test2"));
    }*@

<div class="container" id="alerts">
    @if(ViewBag.Alerts != null)
    {

        foreach (var a in ViewBag.Alerts)
        {
            <div class="row">
                <div class="alert @a.Type.Classes col-xs-10 col-xs-offset-1 col-sm-10 col-md-offset-1">@a.Text</div>
            </div>
        }
   }
</div>
@*Non-container div to prevent misstyling of alerts from permissions.*@
<div id="permissions-alerts">
</div>