@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = AllyisApps.Resources.Views.Shared.Strings.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@AllyisApps.Resources.Views.Shared.Strings.LockedOut</h1>
    <h2 class="text-danger">@AllyisApps.Resources.Views.Shared.Strings.LockedOutExplanation</h2>
</hgroup>