@{
	ViewBag.Title = AllyisApps.Resources.Views.Home.Strings.PPTitle;
}

<div style="text-align:justify; margin: 0 auto; width:98%">
	<p>
		@AllyisApps.Resources.Views.Home.Strings.PPContents
	</p>
	<p>
		@AllyisApps.Resources.Views.Home.Strings.PPContents
	</p>
	<p>
		@AllyisApps.Resources.Views.Home.Strings.PPContents
	</p>
	<p>
		@AllyisApps.Resources.Views.Home.Strings.PPContents
	</p>
</div>