<ul class="nav nav-pills nav-stacked" style="background-color: #fafafa;">
	<li class="active"><a href="#">Details</a></li>
	<li><a href="#">Members</a></li>
	<li><a href="#">Permissions</a></li>
	<li><a href="#">Subscriptions</a></li>
	<li><a href="#">Billing</a></li>
</ul><br />
<a href="#" class="btn btn-default">< Back</a>
