@{
    Layout = "~/Views/Shared/_LayoutJustAForm.cshtml";
    ViewBag.Title = Strings.ConfirmEmail;
}

<p>
    @Strings.ConfirmEmailDialogue@Html.ActionLink(Strings.RedirectToSignIn, ActionConstants.LogOn, ControllerConstants.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>
