@{
    ViewBag.Title = Strings.ConfirmEmail;
}

<div class="shrink-wrap-center">
    <div class="min300">
        <p>
            @Strings.ConfirmEmailDialogue <a href="@Url.Action(ActionConstants.LogOn, ControllerConstants.Account, new { id = "loginLink" })" class="ovrd-btn btn ovrd-btn-default btn-default"> @Strings.RedirectToSignIn </a>
        </p>
    </div>
</div>