@model AllyisApps.ViewModels.Auth.EditSubscriptionViewModel
@{
	ViewBag.Title = Strings.EditSubscription;
}

<div> 
	Product
</div>
<div>
	Description
</div>
<div>
	@Html.ActionLink(Strings.Unsubscribe, ActionConstants.Unsubscribe, ControllerConstants.Account, null, htmlAttributes: new { @class = "btn btn-default" })
	@Html.ActionLink(Strings.Cancel, ActionConstants.ManageOrg, ControllerConstants.Account, null, htmlAttributes: new { @class = "btn btn-default" })
</div>
