@model AllyisApps.ViewModels.Auth.EditMemberViewModel2
@{
	ViewBag.Title = string.Format("{0}: {1}", Strings.EditMember, Model.OrganizationName);
}

<div class="row">
	<div class="col-xs-6">
		<label>@Strings.Email</label>
		<span>@Model.Email</span>
	</div>
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<label>@Strings.FirstName</label>
		<span>@Model.FirstName</span>
	</div>
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
	<div class="col-xs-6">
		<label></label>
		<span></span>
	</div>
</div>
