@using AllyisApps.Extensions.ViewExtensions;
@using AllyisApps.ViewModels.Auth;
@using AllyisApps.ViewModels.Shared;

@model AccountOrgsViewModel
@{
    ViewBag.TitleBar = Strings.YourOrganizations;
}
<div class="row">
    <div class="col-md-push-2 col-md-8">
        @*<div class="panel panel-default">
            <div class="panel-heading panel-heading-inline">*@
        <div class="row">
            <div class="col-xs-12">
                <h1 style="float: left">@Strings.YourOrganizations</h1>
                <a href="@Url.SubdomainLink(ActionConstants.CreateOrg, ControllerConstants.Account, null, 0, this.Request)" class="btn btn-default" style="float: right; margin-top: 20px; margin-bottom: 15px;">@Strings.CreateOrganization</a>
            </div>
        </div>
        @*</div>
            </div>*@
        @foreach (SubscriptionsViewModel org in Model.Organizations)
        {
            @Html.Partial("OrgIndex", org);
        }
    </div>
</div>
