@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Strings.ResetPasswordConfirmation;
}

<div class="shrink-wrap-center">
    <div class="min300">
        <p>
            @Strings.ResetPasswordSuccessDialogue @Html.ActionLink(@Strings.RedirectToSignIn, ActionConstants.LogOn, ControllerConstants.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>