@{
    Layout = "~/Views/Shared/_LayoutJustAForm.cshtml";
    ViewBag.Title =Strings.ResetPasswordConfirmation;
}

<p>
    @Strings.ResetPasswordSuccessDialogue @Html.ActionLink(@Strings.RedirectToSignIn, ActionConstants.LogOn, ControllerConstants.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>
