@using AllyisApps.ViewModels.Auth;

@model SkusListViewModel

@{
	ViewBag.Title = Strings.Products;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skus</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
