@import "less/_root.less";
@import "less/report.less";
@import "bootstrap/less/navbar.less";

//@brand-primary: darken(#428bca, 6.5%); // blue
@brand-primary: darken(#336600, 6.5%); // green
//@brand-primary: darken(#ca428b, 6.5%); // purple
//@brand-primary: darken(#ca8b42, 6.5%); // brown
//@brand-primary: darken(#42ca8b, 6.5%); // turquoise
//@brand-primary: darken(#8b42ca, 6.5%); // purple

@zone-color: @brand-primary;
@zone-color-odd: lighten(@zone-color, 50%);
@zone-color-bg: lighten(@zone-color, 25%);
@zone-body-bg: mix(white, @zone-color-bg, 50%);
@zone-table-body-bg: lighten(@zone-body-bg, 25%);

//@navbar-default-bg: @zone-color-bg;
@navbar-default-border: darken(@btn-zone-bg, 6.5%);

// Get rid of the presets menu for narrow viewports
// to prevent calendar from bleeding off the screen
@media (max-width: @screen-sm-min) {
	.comiseo-daterangepicker-presets {
		display: none;
	}
}

// For preventing the navbar, date range select bar,
// and footer from crushing at narrow viewports
body {
	// For navbar
	min-width: 300px;
}

@media (max-width: @screen-sm-min) {
	#date-select {
		width: 400px;

		@media (max-width: 610px) {
			width: 100%;
		}
	}

	#day-select-wrapper {
		width: 200px;

		@media (max-width: 700px) {
			float: right;
		}
	}
}

@media (max-width: 450px) {
	#drp_autogen0 {
		font-size: 12px;
		padding-top: 1px;
		padding-bottom: 1px;
		overflow: hidden;
		vertical-align: middle;
	}
}

// Push out the bottom of the page to make room for
// footer height change
.panel {
	margin-bottom: 30px;
	/*@media (max-width: @screen-sm-min) {
		margin-bottom: 60px;
	}*/
}

.navbar-default {
	border-width: 1px 5px;
	z-index: auto;
}

.tt-template {
	@media (max-width: @screen-sm-max) {
		@media (min-width: @screen-sm-min) {
			padding: 6px 6px;
		}
	}
}

.review-area
{
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}

.table-row {
	.offDay {
		background-color: @timetracker-offday;
	}

	.holiday {
		background-color: @timetracker-holiday;
	}
}

.offDay .form-control {
	background-color: @timetracker-offday;
}

.holiday .form-control {
	background-color: @timetracker-holiday;
}

.tt-bottom-right {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.panel-heading {
	color: @brand-primary !important;
	background-color: @zone-body-bg !important;
	border-color: @navbar-default-border !important;
}

.panel-footer {
	color: @brand-primary !important;
	border-color: @navbar-default-border !important;
}

a
{
    color: @brand-primary !important;
    border-color: @navbar-default-border !important;
    color: white;
}

.btn-group
{
    margin-top: 15px;
    margin-left: 15px;
}

.btn
{
    margin-right: 5px;
}

.btn-reject
{
    color: white;
    background-color: maroon;
}

.input-notes
{
    height: 60%;
    width: 100%;
}
.report-top
{
    .col-xs-6, .col-md-6, .col-lg-6
    {
        padding: 0px;
        margin: 15px 0px 15px 0px;
    }
}

.report-detail
{
    div:nth-child(even)
    {
        background-color: @zone-table-body-bg;
    }

    div:nth-child(odd)
    {
        background-color: @zone-body-bg;
    }

    margin-bottom: 15px;   
}

.report-detail:last-child
{
    margin-bottom: 0px;
}

thead tr
{
    background-color: @zone-body-bg !important;
}

tbody tr
{
    background-color: @zone-table-body-bg !important;
}

tfoot
{
    background-color: @zone-body-bg !important;
}

.panel {
	color: @brand-primary !important;
	border-color: @navbar-default-border !important;
}

.list-group {
	color: @brand-primary !important;
	border-color: @navbar-default-border !important;
}

.dropdown-toggle
{
    background-color: @zone-body-bg !important;
}

.left-label {
	width: 30%;
	display: inline-block;
	text-align: right;
	margin-bottom: 20px;
}

.right-input {
	width: 50%;
	display: inline-block;
}