@import "less/_root.less";

@brand-primary: lighten(#000, 35%);

@zone-color: #777;
@zone-color-bg: #f8f8f8;

.margined {
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}

	.sidebar-nav .navbar ul {
		float: none;
		display: block;
	}

	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}

	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}