@import "less/_root.less";
@import "less/report.less";
@import "bootstrap/less/navbar.less";

@zone-color: @brand-primary;
@zone-color-bg: lighten(@zone-color, 25%);
@zone-body-bg: mix(white, @zone-color-bg, 50%);
//@brand-primary:     darken(@zone-color, 6.5%); // this was a bad idea

//@navbar-default-bg: @zone-color-bg;
@navbar-default-border: darken(@btn-zone-bg, 6.5%);

// Get rid of the presets menu for narrow viewports
// to prevent calendar from bleeding off the screen
@media (max-width: @screen-sm-min) {
	.comiseo-daterangepicker-presets {
		display: none;
	}
}

// For preventing the navbar, date range select bar,
// and footer from crushing at narrow viewports
body {
	// For navbar
	min-width: 300px;
}

@media (max-width: @screen-sm-min) {
	#date-select {
		width: 400px;

		@media (max-width: 610px) {
			width: 100%;
		}
	}

	#day-select-wrapper {
		width: 200px;

		@media (max-width: 700px) {
			float: right;
		}
	}
}

@media (max-width: 450px) {
	#drp_autogen0 {
		font-size: 12px;
		padding-top: 1px;
		padding-bottom: 1px;
		overflow: hidden;
		vertical-align: middle;
	}
}

// Push out the bottom of the page to make room for
// footer height change
.panel {
	margin-bottom: 30px;
	/*@media (max-width: @screen-sm-min) {
		margin-bottom: 60px;
	}*/
}

.navbar-default {
	border-width: 1px 5px;
	z-index: auto;
}

.tt-template {
	@media (max-width: @screen-sm-max) {
		@media (min-width: @screen-sm-min) {
			padding: 6px 6px;
		}
	}
}

.table-row {
	.offDay {
		background-color: @timetracker-offday;
	}

	.holiday {
		background-color: @timetracker-holiday;
	}
}

.offDay .form-control {
	background-color: @timetracker-offday;
}

.holiday .form-control {
	background-color: @timetracker-holiday;
}

.tt-bottom-right {
	position: absolute;
	bottom: 15px;
	right: 15px;
}



.blue {
	color: #fff;
	background-color: @timetracker-blue1;
	border-color: @timetracker-blue2;
}

.blue.focus, .blue:focus {
	color: #fff;
	background-color: @timetracker-blue3;
	border-color: @timetracker-blue4;
}

.blue:hover {
	color: #fff;
	background-color: @timetracker-blue3;
	border-color: @timetracker-blue5;
}

.blue.active, .blue:active, .open > .dropdown-toggle.blue {
	color: #fff;
	background-color: @timetracker-blue3;
	border-color: @timetracker-blue5;
}

.blue.active.focus, .blue.active:focus, .blue.active:hover, .blue:active.focus, .blue:active:focus, .blue:active:hover, .open > .dropdown-toggle.blue.focus, .open > .dropdown-toggle.blue:focus, .open > .dropdown-toggle.blue:hover {
	color: #fff;
	background-color: @timetracker-blue5;
	border-color: @timetracker-blue4;
}

.blue.disabled, .blue.disabled.active, .blue.disabled.focus, .blue.disabled:active, .blue.disabled:focus, .blue.disabled:hover, .blue[disabled], .blue[disabled].active, .blue[disabled].focus, .blue[disabled]:active, .blue[disabled]:focus, .blue[disabled]:hover, fieldset[disabled] .blue, fieldset[disabled] .blue.active, fieldset[disabled] .blue.focus, fieldset[disabled] .blue:active, fieldset[disabled] .blue:focus, fieldset[disabled] .blue:hover {
	background-color: @timetracker-blue1;
	border-color: @timetracker-blue2;
}

.blue .badge {
	color: @timetracker-blue1;
	background-color: #fff
}



.brown {
	color: #fff;
	background-color: @timetracker-brown1;
	border-color: @timetracker-brown2;
}

.brown.focus, .brown:focus {
	color: #fff;
	background-color: @timetracker-brown3;
	border-color: @timetracker-brown4;
}

.brown:hover {
	color: #fff;
	background-color: @timetracker-brown3;
	border-color: @timetracker-brown5;
}

.brown.active, .brown:active, .open > .dropdown-toggle.brown {
	color: #fff;
	background-color: @timetracker-brown3;
	border-color: @timetracker-brown5;
}

.brown.active.focus, .brown.active:focus, .brown.active:hover, .brown:active.focus, .brown:active:focus, .brown:active:hover, .open > .dropdown-toggle.brown.focus, .open > .dropdown-toggle.brown:focus, .open > .dropdown-toggle.brown:hover {
	color: #fff;
	background-color: @timetracker-brown5;
	border-color: @timetracker-brown4;
}

.brown.disabled, .brown.disabled.active, .brown.disabled.focus, .brown.disabled:active, .brown.disabled:focus, .brown.disabled:hover, .brown[disabled], .brown[disabled].active, .brown[disabled].focus, .brown[disabled]:active, .brown[disabled]:focus, .brown[disabled]:hover, fieldset[disabled] .brown, fieldset[disabled] .brown.active, fieldset[disabled] .brown.focus, fieldset[disabled] .brown:active, fieldset[disabled] .brown:focus, fieldset[disabled] .brown:hover {
	background-color: @timetracker-brown1;
	border-color: @timetracker-brown2;
}

.brown .badge {
	color: @timetracker-brown1;
	background-color: #fff
}



.pink {
	color: #fff;
	background-color: @timetracker-pink1;
	border-color: @timetracker-pink2;
}

.pink.focus, .pink:focus {
	color: #fff;
	background-color: @timetracker-pink3;
	border-color: @timetracker-pink4;
}

.pink:hover {
	color: #fff;
	background-color: @timetracker-pink3;
	border-color: @timetracker-pink5;
}

.pink.active, .pink:active, .open > .dropdown-toggle.pink {
	color: #fff;
	background-color: @timetracker-pink3;
	border-color: @timetracker-pink5;
}

.pink.active.focus, .pink.active:focus, .pink.active:hover, .pink:active.focus, .pink:active:focus, .pink:active:hover, .open > .dropdown-toggle.pink.focus, .open > .dropdown-toggle.pink:focus, .open > .dropdown-toggle.pink:hover {
	color: #fff;
	background-color: @timetracker-pink5;
	border-color: @timetracker-pink4;
}

.pink.disabled, .pink.disabled.active, .pink.disabled.focus, .pink.disabled:active, .pink.disabled:focus, .pink.disabled:hover, .pink[disabled], .pink[disabled].active, .pink[disabled].focus, .pink[disabled]:active, .pink[disabled]:focus, .pink[disabled]:hover, fieldset[disabled] .pink, fieldset[disabled] .pink.active, fieldset[disabled] .pink.focus, fieldset[disabled] .pink:active, fieldset[disabled] .pink:focus, fieldset[disabled] .pink:hover {
	background-color: @timetracker-pink1;
	border-color: @timetracker-pink2;
}

.pink .badge {
	color: @timetracker-pink1;
	background-color: #fff
}



.green {
	color: #fff;
	background-color: @timetracker-green1;
	border-color: @timetracker-green2;
}

.green.focus, .green:focus {
	color: #fff;
	background-color: @timetracker-green3;
	border-color: @timetracker-green4;
}

.green:hover {
	color: #fff;
	background-color: @timetracker-green3;
	border-color: @timetracker-green5;
}

.green.active, .green:active, .open > .dropdown-toggle.green {
	color: #fff;
	background-color: @timetracker-green3;
	border-color: @timetracker-green5;
}

.green.active.focus, .green.active:focus, .green.active:hover, .green:active.focus, .green:active:focus, .green:active:hover, .open > .dropdown-toggle.green.focus, .open > .dropdown-toggle.green:focus, .open > .dropdown-toggle.green:hover {
	color: #fff;
	background-color: @timetracker-green5;
	border-color: @timetracker-green4;
}

.green.disabled, .green.disabled.active, .green.disabled.focus, .green.disabled:active, .green.disabled:focus, .green.disabled:hover, .green[disabled], .green[disabled].active, .green[disabled].focus, .green[disabled]:active, .green[disabled]:focus, .green[disabled]:hover, fieldset[disabled] .green, fieldset[disabled] .green.active, fieldset[disabled] .green.focus, fieldset[disabled] .green:active, fieldset[disabled] .green:focus, fieldset[disabled] .green:hover {
	background-color: @timetracker-green1;
	border-color: @timetracker-green2;
}

.green .badge {
	color: @timetracker-green1;
	background-color: #fff
}


// wireframe
/**, * > *, * > * > *, * > * > * > *, * > * > * > * > *, * > * > * > * > * > * > * {
    background-color: @zone-body-bg !important;
    color: @zone-color !important;
    border-color: @zone-color !important;
}*/
