<div style="text-align:justify; margin: 0 auto; width:67%">
	<p>
		@AllyisApps.Resources.Views.Account.Strings.Terms
	</p>
	<p>
		@AllyisApps.Resources.Views.Account.Strings.Terms
	</p>
	<p>
		@AllyisApps.Resources.Views.Account.Strings.Terms
	</p>
	<p>
		@AllyisApps.Resources.Views.Account.Strings.Terms
	</p>
</div>
