@using AllyisApps.ViewModels.Auth;

@model AllyisApps.ViewModels.Auth.OrganizationAddMembersViewModel

@{
    ViewBag.Title = AllyisApps.Resources.Views.Account.Strings.NewMemberJoin;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AllyisApps.Resources.Views.Account.Strings.NewMemberJoin</h2>
