<li class="dropdown link-zone">
	<a class="dropdown-toggle" id="TheDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		@String.Format("{0}", ViewData["SubscriptionName"]) <span class="caret"></span>
	</a>

	<ul class="dropdown-menu dropdown-menu-right" id="TheDropdown2">
		<li>@Html.ActionLink(Strings.Settings, ActionConstants.Settings, ControllerConstants.Staffing, new { subscriptionId = ViewData["SubscriptionId"] })</li>
		<li>@Html.ActionLink(Strings.Customer, ActionConstants.Index, ControllerConstants.Customer, new { subscriptionId = ViewData["SubscriptionId"] })</li>

	</ul>
</li>