<li class="dropdown link-zone">
	<a class="dropdown-toggle" id="TheDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		@String.Format("{0}", ViewData["SubscriptionName"]) <span class="caret"></span>
	</a>

	<ul class="dropdown-menu dropdown-menu-right" id="TheDropdown2">
		<li><a href="@Url.Action(ActionConstants.Index, ControllerConstants.Staffing, new { subscriptionId = ViewData["SubscriptionId"]  } )">Positions</a></li>
		<li><a href="@Url.Action(ActionConstants.Settings, ControllerConstants.Staffing, new { subscriptionId = ViewData["SubscriptionId"] })">Settings</a></li>
		<li><a href="@Url.Action(ActionConstants.Index, ControllerConstants.Customer, new { subscriptionId = ViewData["SubscriptionId"] })">Customers</a></li>
	</ul>
</li>