@using AllyisApps.Areas.StaffingManager.ViewModels.Staffing

@model AllyisApps.Areas.StaffingManager.ViewModels.Staffing.StaffingApplicantViewModel

@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/StaffingManager/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/StaffingManager";
	string name = Model.FirstName + " " + Model.LastName;
	ViewBag.Title = name;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Applicant</title>
</head>
<body>
	@Html.ActionLink("Create Application", "Application", new { applicantId = Model.ApplicantId }, new { @class = "btn btn-primary pull-right", style = "color: white !important; margin-bottom: 20px;" })
	@Html.Partial("_ApplicationsPartial", Model.Applications ?? new List<StaffingApplicationViewModel>())
</body>
</html>
