@using AllyisApps.Areas.StaffingManager.ViewModels.Staffing

@model AllyisApps.Areas.StaffingManager.ViewModels.Staffing.StaffingApplicantViewModel

@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/StaffingManager/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/StaffingManager";
	ViewBag.Title = "Applicant";
	string name = Model.FirstName + " " + Model.LastName;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Applicant</title>
</head>
<body>
	<h3>@name</h3>
	<h3>@Model.Email</h3>
	@Html.Partial("_ApplicationsPartial", Model.Applications ?? new List<StaffingApplicationViewModel>())
</body>
</html>
