@model AllyisApps.Areas.StaffingManager.ViewModels.Staffing.StaffingApplicationViewModel


@using (Html.BeginForm("Application", "Staffing", FormMethod.Post, new { }))
{
	<h3 class="text-center">New Application</h3>
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.ApplicantId)
	<table class="table table-hover" style="clear: both;">
		<thead>
			<tr>
				<th style="width: 25%">Position</th>
				<th style="width: 25%">Notes</th>
				<th style="width: 50%">Files</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Html.DropDownListFor(m => m.PositionId, Model.PositionList, new { @class = "form-control", style = "width: 150px" })</td>
				<td>@Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })</td>
				<td></td>
				<td>
					<input type="submit" class="btn btn-primary" value="Create" />
				</td>
			</tr>
		</tbody>
	</table>
}