@{
    ViewBag.Title = AllyisApps.Resources.Views.Home.Strings.Help;
}

<div class="row">
    <div class="col-md-8 col-md-push-2">
        <p>
            @AllyisApps.Resources.Views.Home.Strings.HelpText
        </p>
    </div>
</div>
