@{
	ViewBag.Title = AllyisApps.Resources.Views.Home.Strings.PPTitle;
}

<div class="row">
    <div class="col-md-8 col-md-push-2">
        <p>
            @AllyisApps.Resources.Views.Home.Strings.PPContents
        </p>
    </div>
</div>
