@model AllyisApps.ViewModels.EditOrganizationViewModel

@{
    Layout = "~/Views/Shared/_LayoutJustAForm.cshtml";
    ViewBag.Title = AllyisApps.Resources.Views.Account.Strings.CreateOrganization;
}
@{ ViewData.Add(ControllerConstants.Controller, ControllerConstants.Account); }
@{ ViewData.Add(ActionConstants.Action, ActionConstants.CreateOrg); }

@{ Html.RenderPartial("_OrganizationEditDetailsPartial", Model, ViewData); }

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var preserveState = '@(Model != null ? (AllyisApps.Resources.ViewModels.Auth.States.ResourceManager.GetString(Model.Clean(Model.State)) ?? Model.State) : "")';

            if ($('#Country').val() != "") {
                updateStateDDL(function () {
                    if (preserveState != "") {
                        var ddl = document.getElementById('State');
                        for (var i = 0; i < ddl.options.length; i++) {
                            if (ddl.options[i].text === preserveState) {
                                ddl.selectedIndex = i;
                            }
                        }
                    }
                });
            }

            $('#Country').change(updateStateDDL);
        });

        function updateStateDDL(successCallback) {
            if ($('#Country').val() != "") {
                $.ajax({
                    type: "POST",
                    url: "/Home/GetStates",
                    data: JSON.stringify({ country: $('#Country').val() }),
                    datatype: "json",
                    contentType: "application/json",
                    success: function (states) {
                        $('#State').empty();
                        $('#State').append("<option value=\"\">" + "@AllyisApps.Resources.Views.Account.Strings.DropDownEmpty" + "</option>");
                        Object.keys(states).forEach(function (key) {
                            $('#State').append("<option value=\"" + key + "\">" + states[key] + "</option>");
                        });
                        $('#State').prop("disabled", false);

                        successCallback();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error: " + errorThrown)
                    }
                });
            } else {
                $('#State').empty();
                $('#State').append("<option value=\"\">" + "@AllyisApps.Resources.Views.Account.Strings.DropDownEmpty" + "</option>");
                //$('#State').prop("disabled", true);
            }
        }

        function element_change(where, add, remove) {
            var $el = $(where);
            if ($el.hasClass(add) || $el.hasClass(remove)) {
                $el.addClass('was-set');
            }
            $el.addClass(add).removeClass(remove);
        }

        //Validate subdomain both when it autofills and when user edits it themself
        $("#SubdomainName").on("paste keyup", _.debounce(validateSubdomain, 250));

        //Generate subdomain name as user types in company name
        $("#Name").on("paste keyup", _.debounce(function () {
            var orgName = $(this).val();
            orgName = orgName.replace(/[^a-zA-Z0-9]/g, ""); //Remove anything not alphanumeric
            orgName = orgName.toLowerCase(); //So users can see if subdomain would be ugly in url
            $("#SubdomainName").val(orgName);
            validateSubdomain();
        }, 250));

        function validateSubdomain() {
            var subdomain = $("#SubdomainName").val();
            subdomain = subdomain.trim();
            var legalPatt = /^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$/;
            var isLegal = legalPatt.test(subdomain);
            console.log(isLegal);
            if (isLegal) {
                $.ajax({
                    url: "@(Url.Action("IsSubdomainNameUnique"))?subname=" + subdomain,
                    success: function (data) {
                        if ("False" === data) {
                            element_change('#subdomain-wrap', 'no', 'yes');
                            $("#submit").prop('disabled', true);
                        } else {
                            element_change('#subdomain-wrap', 'yes', 'no');
                            $("#submit").prop('disabled', false);
                        }
                    },
                    error: function (xhr) {

                        console.log("Unexpected error occured.")

                    }

                })
            } else {  //Not a valid subdomain
                element_change('#subdomain-wrap', 'no', 'yes');
                $("#submit").prop('disabled', true);
            }
        }

    </script>
}

