@{
    Layout = "~/Views/Shared/_LayoutJustAForm.cshtml";
    ViewBag.Title = AllyisApps.Resources.Views.Account.Strings.ResetPasswordConfirmation;
}

<p>
    @AllyisApps.Resources.Views.Account.Strings.ResetPasswordSuccessDialogue @Html.ActionLink(@AllyisApps.Resources.Views.Account.Strings.RedirectToSignIn, ActionConstants.LogOn, ControllerConstants.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>
