@{
    ViewBag.Title = Strings.Help;
}

<div class="row">
    <div class="ovrd-col-md-8 col-md-8 ovrd-col-md-push-2 col-md-push-2 col">
        <p>
            @Strings.HelpText
        </p>
    </div>
</div>