
strong{font-weight:bold;}
button{color:inherit;font:inherit;margin:0;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
button{font-family:inherit;font-size:inherit;line-height:inherit;}
h1,h2,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h2{font-size:30px;}
h3{font-size:24px;}







.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:focus,.btn:active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus{color:#333;text-decoration:none;}
.btn:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn-default{color:#333;background-color:#fff;border-color:#ccc;}
.btn-default:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c;}
.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active:hover,.btn-default:active:focus{color:#333;background-color:#d4d4d4;border-color:#8c8c8c;}
.btn-default:active{background-image:none;}
.collapse{display:none;}
.nav{margin-bottom:0;padding-left:0;list-style:none;}
.nav > li{position:relative;display:block;}
.nav > li > a{position:relative;display:block;padding:10px 15px;}
.nav > li > a:hover,.nav > li > a:focus{text-decoration:none;background-color:#eeeeee;}
.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
@media (min-width: 768px){
.navbar{border-radius:4px;}
}
@media (min-width: 768px){
.navbar-header{float:left;}
}
.navbar-collapse{overflow-x:visible;padding-right:15px;padding-left:15px;border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1);-webkit-overflow-scrolling:touch;}
@media (min-width: 768px){
.navbar-collapse{width:auto;border-top:0;box-shadow:none;}
.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important;}
}
.navbar-brand{float:left;padding:15px 15px;font-size:18px;line-height:20px;height:50px;}
.navbar-brand:hover,.navbar-brand:focus{text-decoration:none;}
.navbar-toggle{position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
.navbar-toggle:focus{outline:0;}
.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;}
.navbar-toggle .icon-bar + .icon-bar{margin-top:4px;}
@media (min-width: 768px){
.navbar-toggle{display:none;}
}
.navbar-nav{margin:7.5px -15px;}
.navbar-nav > li > a{padding-top:10px;padding-bottom:10px;line-height:20px;}
@media (min-width: 768px){
.navbar-nav{float:left;margin:0;margin-right:15px;}
.navbar-nav > li{float:left;}
.navbar-nav > li > a{padding-top:15px;padding-bottom:15px;}
}
.navbar-btn{margin-top:8px;margin-bottom:8px;}
@media (min-width: 768px){
.navbar-right{float:right!important;float:right;margin-right:-15px;}
}
.navbar-default{background-color:#f8f8f8;border-color:#e7e7e7;}
.navbar-default .navbar-brand{color:#777;}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{color:#5e5e5e;background-color:transparent;}
.navbar-default .navbar-nav > li > a{color:#777;}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{color:#333;background-color:transparent;}
.navbar-default .navbar-toggle{border-color:#ddd;}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#ddd;}
.navbar-default .navbar-toggle .icon-bar{background-color:#888;}
.navbar-default .navbar-collapse{border-color:#e7e7e7;}
.panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);}
.panel-body{padding:15px;}
.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-right-radius:3px;border-top-left-radius:3px;}
.panel-default{border-color:#ddd;}
.panel-default > .panel-heading{color:#333333;background-color:#f5f5f5;border-color:#ddd;}
.container:before,.container:after,.row:before,.row:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.panel-body:before,.panel-body:after{content:" ";display:table;}
.container:after,.row:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.panel-body:after{clear:both;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-sign-out:before{content:"\f08b";}
.navbar-default{border-width:1px 5px;z-index:auto;border-color:#A0A0A0;}
.headerOrgName{color:#777;padding:15px 15px;line-height:20px;position:relative;display:block;}
.navbar-brand a:hover,.navbar-brand a:focus{text-decoration:none;}
.navbar-brand a > img{display:block;}
.navbar-default .navbar-brand a{color:#777;}
.navbar-default .navbar-brand a:hover,.navbar-default .navbar-brand a:focus{color:#5e5e5e;background-color:transparent;}
@media (max-width: 767px){
.xs-row-padding{padding-left:15px;padding-right:15px;}
}
body{margin-bottom:calc(85px);}
.footer{background-color:#f8f8f8;border-top:1px #e7e7e7 solid;position:absolute;bottom:0px;height:70px!important;}
.footer .footer-links{margin-left:30px;}
.footer .footer-links a{color:#777777;margin-left:15px;}
.footer .footer-text a{line-height:36px;vertical-align:middle;}
.footer p{line-height:36px;vertical-align:middle;}
@media (max-width: 767px){
.footer{width:100%;}
}
#title-row{margin-bottom:15px;}
#title-row > h1:first-of-type{margin-top:0px;}
.navbar{z-index:1000;}
.footer{z-index:1000;border-top:1px #e7e7e7 solid;}
.navbar{margin-top:15px;}
.footer{z-index:auto;height:70px;}
@media (max-width: 768px){
.footer{height:100px;}
}
.footer p{margin:5px 0;}
.footer .footer-links{margin:5px 0;}
.footer .footer-links a{margin:0;padding-right:15px;}
.panel-heading{background-color:#f5f5f5;}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?v=4.4.0);src:url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot#iefix&v=4.4.0) format('embedded-opentype'),url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'),url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'),url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'),url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'FontAwesome';src:url(//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?v=4.4.0);src:url(//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'), url(//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg'), url(//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'), url(//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'), url(//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype');font-weight:normal;font-style:normal;}