<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=AllyisApps.Database;Persist Security Info=True;MultipleActiveResultSets=True;User Id=aaUser;password=BlueSky23#;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=AllyisAppsDB;User Id=aaUser;Password=BlueSky23#;" providerName="System.Data.SqlClient" />-->
		<add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=AllyisAppsDB;User Id=aaUser;Password=BlueSky23#;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
