@using AllyisApps.ViewModels.TimeTracker.Project;
@model EditProjectViewModel

@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	ViewBag.Title = Strings.EditProject;
	ViewBag.Action = "Edit";
	ViewData["UserId"] = Model.UserId;
	ViewData["SubscriptionId"] = Model.SubscriptionId;
	ViewData["SubscriptionName"] = Model.SubscriptionName;
}

<div class="shrink-wrap-center">
	@{Html.RenderPartial("_ProjectEdit", Model, ViewData);}
</div>

@section css {
	<link rel="stylesheet" type="text/css" href="~/Content/DateRangePicker" />
}

@section Scripts {
	@*Date range picker dependencies*@
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/moment")
	@Scripts.Render("~/bundles/daterangepicker")
	@Scripts.Render("~/bundles/TTProjectEditCreate")
}