@model AllyisApps.ViewModels.TimeTracker.Customer.CustomerProjectViewModel

    @foreach (AllyisApps.Services.Project proj in Model.Projects)
    {
        <a href="@Url.Action("Edit", "Project", new { id = proj.ProjectId })" class="list-group-item"><text>@proj.Name</text></a>
    }
